@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Rosario:wght@400;600;700&display=swap");

html,
body {
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

.font-rosario {
  font-family: "Rosario", sans-serif;
}

input:checked + div {
  @apply border-primary;
}
input:checked + div svg {
  @apply opacity-100;
}
